.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.intro-img{
    position: relative;
    opacity: 0;
}

.intro-img.active{
    top: 50%;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.intro-img.fade{
    opacity: 0;
    transition:0s;
}

.intro-img img{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 250px;
}