*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #CFE897 !important;
}

button {
    padding: 0;
    border-radius: 10px;
    border: none;
}

.icon {
    padding: 0px;
    margin: 5px;
    height: 60px;
    width: auto;
}

.glass-img {
    height: 55px;
    width: 55px;
}

.g-container {
    border-radius: 10px;
    height: 280px;
    width: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.g-container img {
    margin: 5px;
}

.output {
    padding: 8px;
    margin: 10px;
    height: 120px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
    border-radius: 10px;
}

.output .res-img {
    margin: 10px;
    height: 70px;
    width: auto;
}

.coin-icon {
    height: 50px;
    width: 50px;
}

.output-container {
    padding: 5px;
    height: 220px;
    width: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}

.order-details {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

.material-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}